node_modules/
dist/
build/
out/
release/

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.env
.env.*
!.env.example

.DS_Store
Thumbs.db

.vscode/
!.vscode/extensions.json
!.vscode/settings.json
docs/
.idea/
